body {
   	
     background-image: url("../img/vidwall2.jpg");
     background-repeat: no-repeat;
     background-size: cover;

     background-attachment: fixed;
} 



.carousel .item {
  height: 600px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}