.tease {
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #0275D8;
}

.tease:hover{
	display: block;
    padding: 15px 20px;
    font-weight: bold;
    color: #7fffD4;
    text-align: center;
    background-color: #6f8392;
}

body {
    
     background-image: url("../img/hcr.jpg");
     background-repeat: no-repeat;
     background-size: cover;

     background-attachment: fixed;
} 

